
.main-page .recipeList li {
  list-style: none;
  line-height: 2em;
  font-size: 18px;
  padding-left: 10px;
  color: #cccccc;
  height: 40px;
}

.main-page ul a {
  text-decoration: none;
}

.main-page .recipeList li:hover {
  outline: 3px dotted #ec2a94; /* Pink */
  color: #04B4AE; /* Teal */
  transition-duration: 1s;
}
